@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  width: 100%;
}

.custom-button:hover {
  background-color: transparent;
}

.custom-button-text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.custom-button:hover .custom-button-text {
  color: #181717;
}


.project-card {
  transition: 
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform; /* Only if needed */
  transform: translateZ(0); /* Force hardware acceleration */
}

.project-card:hover {
  transform: scale(1.02); /* More subtle animation */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}